@charset "UTF-8";
.breadcrumbs__crumb-link {
    -webkit-transition: text-decoration .2s linear, color .2s linear;
    transition: text-decoration .2s linear, color .2s linear;
    color: #0ea800;
    text-decoration: none;
    cursor: pointer
}
.breadcrumbs__crumb-link:active,
.breadcrumbs__crumb-link:focus,
.breadcrumbs__crumb-link:hover {
    color: #0c9700;
    text-decoration: underline
}
.breadcrumbs__crumb-link:active,
.breadcrumbs__crumb-link:hover {
    outline: 0
}
.media-banner__link,
.media-banner__link:active,
.media-banner__link:focus,
.media-banner__link:hover,
.media-banner__link:visited {
    color: inherit;
    text-decoration: inherit
}
.desktop-nav__member-panel,
.header-member__dropdown-item-link,
.header-member__dropdown-list,
.header-member__header,
.header__toolbar-inner,
.member-dropdown__body,
.member-dropdown__header,
.saved-search,
.saved-search__item-link,
.shortlist,
.shortlist__item-link {
    *zoom: 1
}
.desktop-nav__member-panel:after,
.desktop-nav__member-panel:before,
.header-member__dropdown-item-link:after,
.header-member__dropdown-item-link:before,
.header-member__dropdown-list:after,
.header-member__dropdown-list:before,
.header-member__header:after,
.header-member__header:before,
.header__toolbar-inner:after,
.header__toolbar-inner:before,
.member-dropdown__body:after,
.member-dropdown__body:before,
.member-dropdown__header:after,
.member-dropdown__header:before,
.saved-search:after,
.saved-search:before,
.saved-search__item-link:after,
.saved-search__item-link:before,
.shortlist:after,
.shortlist:before,
.shortlist__item-link:after,
.shortlist__item-link:before {
    display: table;
    content: ''
}
.desktop-nav__member-panel:after,
.header-member__dropdown-item-link:after,
.header-member__dropdown-list:after,
.header-member__header:after,
.header__toolbar-inner:after,
.member-dropdown__body:after,
.member-dropdown__header:after,
.saved-search:after,
.saved-search__item-link:after,
.shortlist:after,
.shortlist__item-link:after {
    clear: both
}
.header__sr-only,
.shortlist__sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(1px, 1px, 1px, 1px);
    border: 0;
    overflow: hidden;
    clip-path: inset(100%);
    -webkit-clip-path: none
}
.breadcrumbs__crumb-link:before,
.desktop-nav__dropdown .desktop-nav__menu-option-link:after,
.header-member__dropdown-item-link:before,
.header-member__toggle:before,
.header__logo:before,
.header__mobile-nav-toggle:before,
.member-dropdown__toggle-savedsearch:before,
.member-dropdown__toggle-shortlist:before,
.mobile-nav__item-link:before,
.mobile-nav__login-link:before,
.shortlist__item-feature:before {
    font-family: 'Domain';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.media-banner {
    background-color: #f2f5f7
}
@media (max-width: 1020px) {
    .media-banner {
        display: none
    }
}
.media-banner-inner {
    padding: 0 8px;
    height: 24px;
    max-width: 1020px;
    margin: 0 auto
}
.media-banner-inner,
.media-banner__domain-media-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.media-banner__domain-media-logo {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid #d0d3d9
}
.media-banner__domain-media-logo-inner {
    display: inline-block;
    width: 81px;
    height: 18px
}
.media-banner__domain-media-logo-svg {
    fill: #7e8594
}
.media-banner__link {
    color: #7e8594;
    font-size: 12px;
    line-height: 24px
}
.media-banner__link:visited {
    color: #7e8594
}
.media-banner__link:not(:last-child):after {
    content: '|';
    margin: 0 3px
}
.header {
    width: 100%;
    background: #0ea800
}
.header__login-iframe {
    position: relative;
    width: 100%;
    max-width: 725px;
    height: 540px;
    background: #fff
}
@media (max-width: 623px) {
    .header__login-iframe {
        top: 0;
        width: 100%;
        height: 100vh
    }
}
.header__toolbar {
    min-height: 60px
}
.header__toolbar-inner {
    max-width: 1020px;
    margin: 0 auto
}
.header__mobile-nav-toggle {
    margin: 0;
    padding: 0;
    float: left;
    border: 0;
    background: none;
    color: #fff;
    text-decoration: none
}
@media (min-width: 1021px) {
    .header__mobile-nav-toggle {
        display: none
    }
}
.header__mobile-nav-toggle:before {
    display: block;
    width: 60px;
    font-size: 39px;
    line-height: 60px;
    text-align: center;
    content: "";
    cursor: pointer
}
.header__mobile-nav-toggle:active,
.header__mobile-nav-toggle:focus,
.header__mobile-nav-toggle:hover,
.header__mobile-nav-toggle:visited {
    outline: none;
    color: #3c475b;
    text-decoration: none
}
.header__logo {
    display: block;
    padding: 19px 23px 0 0;
    float: left
}
.header__logo:before {
    display: inline-block;
    height: 24px;
    color: #fff;
    font-size: 98px;
    line-height: 24px;
    content: "";
    overflow: hidden
}
@media (min-width: 1021px) {
    .header__logo {
        padding-top: 18px;
        padding-left: 10px
    }
}
.header.is-transparent {
    background: 0
}
@media (max-width: 1020px) {
    .desktop-nav {
        display: none
    }
}
.desktop-nav__menu-option {
    position: relative;
    float: left
}
.desktop-nav__menu-option-link {
    display: block;
    position: relative;
    padding: 0 9px;
    color: #fff;
    font-weight: 700;
    line-height: 60px;
    text-decoration: none
}
.desktop-nav__dropdown .desktop-nav__menu-option-link:after {
    margin-left: 5px;
    font-size: 8px;
    content: ""
}
.desktop-nav__menu-option-link:active,
.desktop-nav__menu-option-link:focus,
.desktop-nav__menu-option-link:hover,
.desktop-nav__menu-option-link:visited {
    color: #fff;
    text-decoration: none
}
.desktop-nav__menu-option-link:hover {
    background: #26b019;
    color: #fff;
    text-decoration: none
}
.desktop-nav__dropdown-content {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    border: 1px solid #eaebed;
    background: #fff;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .2);
    z-index: 50
}
.desktop-nav__dropdown-content:after,
.desktop-nav__dropdown-content:before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    content: '';
    pointer-events: none
}
.desktop-nav__dropdown-content:before {
    margin-left: -7px;
    border: 7px solid transparent;
    border-bottom-color: #d8dade
}
.desktop-nav__dropdown-content:after {
    margin-left: -6px;
    border: 6px solid transparent;
    border-bottom-color: #fff
}
.desktop-nav__dropdown-item-link {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #f7f7f8;
    color: #3c475b;
    line-height: 1em;
    text-decoration: none
}
.desktop-nav__dropdown-item-link:active,
.desktop-nav__dropdown-item-link:focus,
.desktop-nav__dropdown-item-link:hover,
.desktop-nav__dropdown-item-link:visited {
    background-color: #f7f7f8;
    color: #3c475b;
    text-decoration: none
}
.desktop-nav__member-panel {
    padding-left: 6px;
    float: right;
    border-left: 1px solid #0c9700
}
.desktop-nav__item-link.is-selected {
    background: #26b019;
    color: #fff;
    text-decoration: none
}
.header.is-transparent .desktop-nav__menu-option-link {
    border-bottom: 2px solid hsla(0, 0%, 100%, 0);
    background: 0
}
.header.is-transparent .desktop-nav__menu-option-link:active,
.header.is-transparent .desktop-nav__menu-option-link:focus,
.header.is-transparent .desktop-nav__menu-option-link:hover {
    border-bottom-color: hsla(0, 0%, 100%, .8)
}
.header.is-transparent .desktop-nav__menu-option-link.is-selected {
    border-bottom-color: #fff
}
.header.is-transparent .is-active .desktop-nav__menu-option-link:active,
.header.is-transparent .is-active .desktop-nav__menu-option-link:focus,
.header.is-transparent .is-active .desktop-nav__menu-option-link:hover {
    border-bottom-color: hsla(0, 0%, 100%, 0)
}
.header.is-transparent .desktop-nav__member-panel {
    border-left: 0
}
.member-dropdown {
    position: relative;
    float: left;
    cursor: pointer;
    z-index: 50
}
.member-dropdown__toggle-savedsearch,
.member-dropdown__toggle-shortlist {
    position: relative;
    width: 40px;
    color: #fff;
    text-align: center
}
.member-dropdown__toggle-savedsearch:before,
.member-dropdown__toggle-shortlist:before {
    font-size: 20px;
    line-height: 60px
}
.member-dropdown__toggle-shortlist:before {
    content: ""
}
.member-dropdown__toggle-shortlist:hover:before {
    content: ""
}
.member-dropdown__toggle-savedsearch:before {
    content: ""
}
.member-dropdown__toggle-savedsearch:hover:before {
    content: ""
}
.member-dropdown__count-title,
.member-dropdown__count-toggle {
    display: inline-block;
    padding: 0 6px;
    border-radius: 10px;
    color: #f7f7f8;
    font-size: 14px;
    line-height: 16px
}
.member-dropdown__count-toggle {
    position: absolute;
    top: 20%;
    left: 50%;
    background: #0c9700
}
.member-dropdown__count-title {
    min-width: 2em;
    margin-left: 12px;
    background: #515b6d
}
.member-dropdown__content {
    display: block;
    position: absolute;
    top: 100%;
    right: -10px;
    width: 264px;
    background: #fff;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .07)
}
.member-dropdown__content:before {
    position: absolute;
    right: 23px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-color: #3c475b;
    content: '';
    pointer-events: none
}
.member-dropdown__header {
    padding: 20px 15px;
    background: #3c475b
}
.member-dropdown__title {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center
}
.member-dropdown__body {
    border-bottom: 1px solid #eaebed;
    background: #f7f7f8;
    color: #3c475b;
    text-align: center
}
.member-dropdown__illustration {
    display: block;
    max-height: 59px;
    margin: 0 auto;
    padding: 15px 0;
    box-sizing: content-box
}
.member-dropdown__text {
    margin: 0;
    padding: 0 15px 15px
}
.member-dropdown__sign-up {
    display: block;
    width: 60%;
    margin: 15px auto;
    border-radius: 3px;
    background: #0ea800;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-decoration: none
}
.member-dropdown__sign-up:hover {
    background: #0c9700;
    color: #fff;
    text-decoration: none
}
.member-dropdown__see-all {
    display: block;
    padding: 15px;
    color: #0ea800;
    text-align: center
}
.shortlist__item {
    display: block;
    margin: 0;
    border-top: 1px solid #f7f7f8
}
.shortlist__item:first-child {
    border: 0
}
.shortlist__item-link {
    display: block;
    padding: 15px;
    background: #fff;
    text-align: left;
    text-decoration: none
}
.shortlist__item-link:hover {
    background: #f7f7f8;
    text-decoration: none
}
.shortlist__item-media {
    position: relative;
    width: 64px;
    height: 48px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    overflow: hidden
}
.shortlist__item-img {
    width: 64px;
    height: 48px
}
.shortlist__item-price {
    display: block;
    padding: 0 0 6px;
    color: #515b6d;
    font-size: 16px;
    line-height: 1em
}
.shortlist__item-address {
    display: block;
    color: #979da7;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
.shortlist__item-features {
    color: #979da7;
    font-size: 14px;
    line-height: 20px
}
.shortlist__item-feature {
    float: left
}
.shortlist__item-feature:before {
    margin: 0 3px 0 6px;
    padding-left: 6px;
    float: left;
    border-left: 1px solid #f7f7f8;
    font-size: 20px
}
.shortlist__item-feature:first-child:before {
    margin-left: 0;
    padding: 0;
    border: 0
}
.shortlist__item-feature.icon-beds:before {
    content: ""
}
.shortlist__item-feature.icon-baths:before {
    content: ""
}
.shortlist__item-feature.icon-cars:before {
    content: ""
}
.shortlist__see-all {
    display: block;
    padding: 15px;
    text-align: center
}
.saved-search {
    position: relative;
    width: 100%;
    float: left
}
.saved-search__item {
    display: block;
    margin: 0;
    border-top: 1px solid #f7f7f8;
    text-align: left
}
.saved-search__item:first-child {
    border: 0
}
.saved-search__item-link {
    display: block;
    padding: 15px;
    background: #fff;
    color: #515b6d;
    text-decoration: none
}
.saved-search__item-link:hover {
    background: #f7f7f8;
    color: #515b6d;
    text-decoration: none
}
.saved-search__item-title {
    display: block;
    padding: 0 0 6px;
    color: #1e293d;
    font-weight: 700
}
.saved-search__item-label {
    display: inline-block;
    margin: 0 4px 4px 0;
    padding: 0 8px;
    float: left;
    border-radius: 2px;
    background: #eaebed;
    color: #979da7;
    font-size: 14px;
    line-height: 20px
}
.header-member {
    float: left
}
.header-member__dropdown {
    display: inline-block;
    position: relative;
    float: left;
    cursor: pointer
}
.header-member__toggle {
    display: block;
    padding: 15px 22px 15px 0;
    color: #fff;
    text-decoration: none
}
.header-member__toggle:hover {
    color: #fff
}
.header-member__toggle:before {
    position: absolute;
    top: 50%;
    right: 9px;
    margin-top: -6px;
    font-size: 8px;
    content: ""
}
.header-member__avatar-header,
.header-member__avatar-toggle {
    position: relative;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 100%;
    background: #fff url(../../../static.domain.com.au/content/web/residential/icon/profile-icon.png) no-repeat 50%;
    background-size: 100%;
    overflow: hidden
}
.header-member__avatar-toggle {
    margin: -7.5px 7px
}
.header-member__avatar-header {
    margin: 0 18px 0 2px;
    float: left
}
.header-member__avatar-img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 43px;
    height: auto;
    margin-top: -21.5px;
    margin-left: -21.5px
}
.header-member__dropdown-content {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 264px;
    background: #fff;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .07);
    z-index: 1000
}
.header-member__dropdown-content:before {
    position: absolute;
    right: 45px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-color: #3c475b;
    content: '';
    pointer-events: none
}
.header-member__header {
    padding: 20px 15px;
    background: #3c475b;
    color: #fff
}
.header-member__name {
    margin: 0;
    color: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px
}
.header-member__email {
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
.header-member__dropdown-list {
    width: 100%;
    margin: 0;
    border-right: 1px solid #eaebed;
    border-bottom: 1px solid #f7f7f8;
    border-left: 1px solid #eaebed
}
.header-member__dropdown-item {
    border-top: 1px solid #f7f7f8
}
.header-member__dropdown-item:first-child {
    border-top: 0
}
.header-member__dropdown-item-link {
    display: block;
    padding: 20px 15px;
    color: #515b6d
}
.header-member__dropdown-item-link:hover {
    background-color: #f7f7f8;
    color: #515b6d;
    text-decoration: none
}
.header-member__dropdown-item-link:before {
    position: relative;
    width: 50px;
    height: 20px;
    margin-right: 12px;
    float: left;
    color: #b6bbc2;
    font-size: 20px;
    text-align: center
}
.header-member__dropdown-item-link.domain-icon-inspection-checklist:before {
    content: ""
}
.header-member__dropdown-item-link.domain-icon-alert:before {
    content: ""
}
.header-member__dropdown-item-link.domain-icon-settings:before {
    content: ""
}
.header-member__dropdown-item-link.domain-icon-logout:before {
    content: ""
}
.header-member__dropdown-item-icon {
    position: relative;
    width: 50px;
    height: 20px;
    margin-right: 12px;
    float: left;
    color: #b6bbc2;
    font-size: 20px;
    text-align: center
}
.header-member__sign-in {
    display: inline-block;
    margin-right: 4px;
    padding: 0 9px;
    -webkit-transition: background .2s linear;
    transition: background .2s linear;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 60px;
    text-decoration: none;
    cursor: pointer
}
.header-member__sign-in:hover {
    background: #26b019;
    color: #fff;
    text-decoration: none
}
.header-member__sign-up {
    display: inline-block;
    margin: 15px 10px 15px 0;
    padding: 0 1em;
    -webkit-transition: border .2s linear;
    transition: border .2s linear;
    border: 1px solid hsla(0, 0%, 100%, .3);
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    text-decoration: none;
    cursor: pointer
}
.header-member__sign-up:hover {
    border-color: #fff;
    color: #fff;
    text-decoration: none
}
.is-transparent .header-member__sign-in {
    border-bottom: 2px solid hsla(0, 0%, 100%, 0);
    background: 0
}
.is-transparent .header-member__sign-in:active,
.is-transparent .header-member__sign-in:focus,
.is-transparent .header-member__sign-in:hover {
    border-bottom-color: hsla(0, 0%, 100%, .8)
}
.breadcrumbs {
    width: 100%;
    background: #0c9700
}
@media (max-width: 1020px) {
    .breadcrumbs {
        display: none
    }
}
.breadcrumbs__inner {
    max-width: 1020px;
    margin: 0 auto
}
.breadcrumbs__crumb {
    display: inline-block
}
.breadcrumbs__crumb:first-child .breadcrumbs__crumb-link:before {
    content: none
}
.breadcrumbs__crumb-link {
    display: block;
    padding: 5px 0 5px 8px;
    color: hsla(0, 0%, 100%, .6);
    font-weight: 700
}
.breadcrumbs__crumb-link:before {
    padding-right: 8px;
    color: hsla(0, 0%, 100%, .3);
    font-size: 8px;
    content: ""
}
.breadcrumbs__crumb-link:active,
.breadcrumbs__crumb-link:focus,
.breadcrumbs__crumb-link:hover {
    color: #fff;
    text-decoration: none
}
.breadcrumbs__crumb-link:active:before,
.breadcrumbs__crumb-link:focus:before,
.breadcrumbs__crumb-link:hover:before {
    color: hsla(0, 0%, 100%, .3)
}
.is-transparent .breadcrumbs {
    background: 0
}
.is-transparent .breadcrumbs__crumb-link {
    color: #fff
}
.is-transparent .breadcrumbs__crumb-link:before {
    color: hsla(0, 0%, 100%, .7)
}
.mobile-nav {
    position: fixed;
    left: 0;
    width: 85%;
    max-width: 350px;
    height: 100%;
    margin-left: -350px;
    padding-bottom: 60px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    background: #263248;
    z-index: 9999;
    overflow-y: auto;
    -webkit-backface-visibility: hidden
}
.mobile-nav__item {
    display: block;
    margin: 5px
}
.mobile-nav__item-link {
    display: block;
    border-radius: 2px;
    color: #fff
}
.mobile-nav__item-link:hover {
    background: #151f30;
    color: #3c475b
}
.mobile-nav__item-link:active,
.mobile-nav__item-link:focus,
.mobile-nav__item-link:hover,
.mobile-nav__item-link:visited {
    color: #fff;
    text-decoration: none
}
.mobile-nav__item-link:before {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle
}
.mobile-nav__item-search .mobile-nav__item-link:before {
    content: ""
}
.mobile-nav__item-shortlist .mobile-nav__item-link:before {
    content: ""
}
.mobile-nav__item-find-an-agent .mobile-nav__item-link:before {
    content: ""
}
.mobile-nav__item-news .mobile-nav__item-link:before {
    content: ""
}
.mobile-nav__item-advice .mobile-nav__item-link:before {
    content: ""
}
.mobile-nav__item-home-price-guide .mobile-nav__item-link:before {
    content: ""
}
.mobile-nav__item-auction-results .mobile-nav__item-link:before {
    content: ""
}
.mobile-nav__item-suburb-profiles .mobile-nav__item-link:before {
    content: ""
}
.mobile-nav__item-mortgage-calculator .mobile-nav__item-link:before {
    content: ""
}
.mobile-nav__item-commercial .mobile-nav__item-link:before {
    content: ""
}
.mobile-nav__item-feedback .mobile-nav__item-link:before {
    content: ""
}
.mobile-nav__item-copy {
    display: inline-block;
    padding-right: 12px;
    line-height: 40px;
    vertical-align: middle
}
.mobile-nav__heading-copy {
    display: block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 2px;
    background: hsla(0, 0%, 100%, .2);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase
}
.mobile-nav__login-link {
    display: block;
    border-radius: 2px;
    background: #0ea800;
    color: #fff
}
.mobile-nav__login-link:focus,
.mobile-nav__login-link:hover,
.mobile-nav__login-link:visited {
    color: #fff
}
.mobile-nav__login-link:before {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    content: "";
    vertical-align: middle
}
.mobile-nav__body-overlay {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 9998
}
.mobile-nav-open {
    position: fixed;
    width: 100%;
    height: auto;
    overflow: hidden
}
.mobile-nav-open .mobile-nav {
    -webkit-transform: translate(350px);
    transform: translate(350px)
}
.mobile-nav-open .mobile-nav__body-overlay {
    display: block
}